body {
  padding: 10px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}
.icon-create{
  height: 64px;
  width: 64px;
  margin-left:2px;
  display: inline-block;
}
.iconmsg{
  height: 36px;
  width: 36px;
  display: inline-block;
  background-size: 36px 36px;
  margin: 5px 10px 5px 5px;
}

.chartArea{
  border: 1px solid #bbb;
  border-radius: 10px;
  width: 700px;
  height: 600px;
  padding: 30px 20px 20px 5px;
}

.chartArea1{
    height: 590px;
    overflow:scroll;
    overflow-x:hidden;
}
.onemsg{
    border-bottom: solid #eee 1px;
    margin-bottom: 6px;
}

#alert-gbanner, #alert-rbanner{
    display: none;
    position: absolute;
}

.onlineuser{
    margin: 30px 0 0 30px;
    border: 2px solid #0091ca;
    border-radius: 15px;
    width: 330px;
    height: 400px;
    padding: 10px;
}

.onlineuser1{
    margin: 6px;
    width: 300px;
    height: 400px;
}

#msginputcontainer{
    border: solid 2px #07a4a9;
    padding: 10px;
    border-radius: 8px;
}
#chartinput{
    border:1px solid #8fce48;
}

.icon1{
  background-image: url("../img/icon/h1.png")
}
.icon2{
  background-image: url("../img/icon/h2.png")
}
.icon3{
  background-image: url("../img/icon/h3.png")
}
.icon4{
  background-image: url("../img/icon/h4.png")
}
.icon5{
  background-image: url("../img/icon/h5.png")
}
.icon6{
  background-image: url("../img/icon/h6.png")
}
.icon7{
  background-image: url("../img/icon/h7.png")
}
.icon8{
  background-image: url("../img/icon/h8.png")
}